.bg-forgot {
    background-image: url(../../../Images/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.wrapper {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.authentication-forgot {
    height: 100vh;
    padding: 0 1rem
}

input::placeholder {
    color: #000 !important;
    opacity: .3 !important
}

.authentication-reset-password {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {

    .authentication-forgot {
        height: auto;
        padding: 2.5rem 1rem
    }

    .authentication-reset-password .row {
        flex-direction: column-reverse !important;
    }

    input::placeholder {
        color: #000 !important;
        opacity: .3 !important;
        font-size: 0.85rem;
    }
}

@media screen and (max-width:991px) {
    .authentication-reset-password {
        height: auto;
        padding: 2rem 1rem
    }
}