.slider {
    width: 100%;
    height: 77vh;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    animation: img-slider 15s linear infinite;
    position: relative;
}

@keyframes img-slider {
    0% {
        background-image: url(../../../Images/slider1.webp);
    }

    50% {
        background-image: url(../../../Images/slider3.avif);
    }

    100% {
        background-image: url(../../../Images/slider2.webp);
    }

}

.slider-text {
    width: 30vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 8%;
}

.slider-text>h1 {
    color: #29456B;
    font-weight: 900;
}

.slider-text>p {
    color: #29456B;
}

.slider-text>button {
    width: 15vw;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.8rem 0;
}

#vector1 {
    width: 5rem;
    position: absolute;
    right: 12rem;
    top: 4.5rem;
    opacity: 80%;
}

#vector2 {
    opacity: 80%;
    position: absolute;
    left: 37.75rem;
    top: 18rem;
}

/* Responsive for small devices */
@media screen and (max-width: 575px) {
    .slider {
        width: 100%;
        height: 45vh;
        margin: 0 auto;
        background-size: cover;
        background-position: center right;
        animation: img-slider 15s linear infinite;
    }

    .slider-text {
        width: 80vw;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }

    .slider-text>h1 {
        color: #29456B;
        font-weight: 900;
        font-size: 1.2rem;
    }

    .slider-text>p {
        font-size: 0.75rem;
        color: #29456B;
    }

    .slider-text>button {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.75rem 0;
    }

    #vector1 {
        width: 4rem;
        position: absolute;
        right: 3.5rem;
        top: 1rem;
        opacity: 60%;
    }

    #vector2 {
        opacity: 60%;
        position: absolute;
        left: 15rem;
        top: 6rem;
    }
}

/* Responsive for medium devices */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .slider {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        animation: img-slider 15s linear infinite;
    }

    .slider-text {
        width: 40%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 16%;
    }

    .slider-text>h1 {
        color: #29456B;
        font-weight: 900;
        font-size: 1.35rem;
    }

    .slider-text>p {
        font-size: 0.6rem;
        color: #29456B;
    }

    .slider-text>button {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.75rem 0;
    }

    #vector1 {
        width: 4rem;
        position: absolute;
        right: 2.75rem;
        top: 0.9rem;
        opacity: 60%;
    }

    #vector2 {
        opacity: 60%;
        position: absolute;
        left: 25rem;
        top: 8rem;
    }
}

/* Responsive for medium & large devices */

@media (min-width:769px) and (max-width:992px) {
    .slider {
        width: 100%;
        height: 58vh;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        animation: img-slider 15s linear infinite;
    }

    .slider-text {
        width: 50%;
        height: 58vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }

    .slider-text>h1 {
        color: #29456B;
        font-weight: 900;
        font-size: 1.5rem;
    }

    .slider-text>p {
        font-size: 0.8rem;
        color: #29456B;
    }

    .slider-text>button {
        width: 100%;
        font-size: 1rem;
        border-radius: 10px;
        padding: 0.75rem 0;
    }

    #vector1 {
        width: 4.5rem;
        position: absolute;
        right: 2.75rem;
        top: 1rem;
        opacity: 60%;
    }

    #vector2 {
        opacity: 60%;
        position: absolute;
        left: 25rem;
        top: 8rem;
    }
}